<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/jquery.init.js"></script>

<!--<script type="text/javascript" src="/assets/jquery.grid.js"></script>-->


<footer id="footer">  
  <nav id="login">
    <h3 class="hidden">Tertiary navigation</h3>    
    <ul class="inline-list">
      <li><a href="/">Infosys</a></li>
      <li><a href="/">CEU E-learning</a></li>   
      <li><a href="/">Login</a></li>
      <li class="copyright">Copyright</li>
    </ul>     
  </nav>
  
  <p id="copyright">
    Copyright © 2010 Central European University // 
    Postal Address: Central European University, Nador u. 9, 1051 Budapest, Hungary
  </p>
  
</footer>



