<div id="title">
  <h3>{{ page.title }}</h3>
</div>


<nav id="menu">      
  <h3 class="hidden">Top menu</h3>   
  
  <div id="skip-to-content" class="mobile">
    <h4><a href="#content">+ Skip to content</a></h4>
  </div>
   
  <ul id="main" class="menu">
    <li>
      <h4><a href="/admissions">Admissions</a></h4>
      <ul id="admissions" class="menu">
        <li><a href="/admissions/why-apply">Why Apply?</a></li>
        <li><a href="/admissions/degrees-offered">Degrees Offered</a></li>
        <ul id="degrees-offered" class="menu">
          <li><a href="/admissions/degrees-offered/magyar">Magyar</a></li>
          <li><a href="/admissions/degrees-offered/turkish">For Turkish Students</a></li>
        </ul>
        <li><a href="/admissions/ma">How to Apply for MA?</a></li>
      </ul>
    </li>
    <li><h4><a href="/students">Students</a></h4></li>
    <ul id="students" class="menu">
        <li><a href="/students/ma-students/current">MA Students</a></li>
        <ul id="ma-students" class="menu">
          <li><a href="/students/ma-students/current">Current MA students</a></li>
        </ul>
        <li><a href="/students/phd-students">PHD Students</a></li>
        <li><a href="/students/academic-calendar">Academic Calendar</a></li>        
      </ul>
    <li><h4><a href="/">Teaching</a></h4></li>       
    <li><h4><a href="/">People</a></h4></li>
    <li><h4><a href="/">Research</a></h4></li>
    <li><h4><a href="/">Alumni</a></h4></li>
    <li><h4><a href="/">Contact Us</a></h4></li>
  </ul>     
</nav>   

<nav id="secondary">
  <h3 class="hidden">Secondary navigation</h3>    
  <ul class="inline-list">
    <li><h4 class="news">+ News</h4></li>
    <li><h4 class="events">+ Events</h4></li>   
    <li><h4 class="search">+ Search</h4></li>
  </ul>     
</nav>

<div id="news-holder" class="newsticker"></div>





