<aside id="news" class="newsticker">
  <h2>News</h2>
  <ul>
    <li>
      <span class="date">October 25, 2011</span>
      <a href="/">Article about Hungarian Politics and History by Visiting Professor Casanova in El País</a>
    </li>
    <li>
      <span class="date">September 14, 2011</span>
      <a href="/">Political Science in the top again</a>
    </li>
    <li>
      <span class="date">July 25, 2011</span>
      <a href="/">Tamas Rudas receives Academy Prize</a>
    </li>
    <li>
      <span class="date">July 25, 2011</span>
      <a href="/">Our Department ranked among top European universities</a>
    </li>
    <li>
      <span class="date">July 25, 2011</span>
      <a href="/">Daniel Horn receives Unicredit&Universities Foundation Best CEE PhD award</a>
    </li>
  </ul>
</aside>

<aside id="events" class="newsticker">
  <h2>Events</h2>
  <ul>
    <li>
      <span class="date">11/25/2011 - 13:00</span>
      <a href="/">Political Psychology Networking Conference for the Post-Communist Region</a>
    </li>
    <li>
      <span class="date">11/02/2011 - 18:00</span>
      <a href="/">Central Europe as City?</a>
    </li>
    <li>
      <span class="date">09/29/2011 - 13:30</span>
      <a href="/">Rethinking the “Presidentialism Debate”: Coalitional Politics in Cross-Regional Perspective</a>
    </li>
    <li>
      <span class="date">09/28/2011 - 15:30</span>
      <a href="/">African Elections as Vehicles for Change</a>
    </li>
    <li>
      <span class="date">09/12/2011 - 14:00</span>
      <a href="/">Workshop on Comparative Studies of Voting Behavior and Public Opinion</a>
    </li>
  </ul>
</aside>

