/* Header
*/


#header, #menu {    
  width: 25%;
}

/* Startpage
*/

.startpage #excerpt, .startpage #body {  
  bottom: 5em;
}
.startpage #secondary, .startpage #read-more {
  bottom: 3%;
}
.startpage aside {
  bottom: 6em;
}

