#container {
  width: 90%;
  margin: 0 auto;
}


.mobile {
  display: none;
}



/* The Grid
*/

#sidebar, #content {
  float: left;
}



/* Header
*/

#header h1, #header h2, #title h3 {
  padding: 0;
}
#header, ul#main {
  padding: 1.25em;  
}
#header #ceu-logo {
  padding-bottom: 1.25em;
}
#header img {
  width: auto;
}
#title {
  padding: .625em;
}



/* Menu
*/

#menu ul {
  list-style: none;
  margin: 2.5em 5%;
}
#menu ul li {
  margin-bottom: .625em;
  padding-left: 5%;
}
#menu ul ul {
  display: none;
}
#menu ul ul li {
  padding-left: 0;
}


/* Secondary menu
*/


#secondary ul {
  margin: 0;
  list-style: none;
}
#secondary li {
  margin-right: .625em;
}
#secondary li h4 {
  padding: .325em .625em;
  cursor: pointer;
}




/* Page
*/


article section {
  padding: 1.25em;
}

#video {
  padding: 1.25em;
  margin: 1.25em 0;
}




/* Startpage
*/

.startpage article section {  
  cursor: pointer;
  width: 45%;
  top: 0;
}
.startpage article #body {
  display: none;
}





/* News and Events
*/

.newsticker {
  padding: 1.25em;
  width: 25%;
  display: none;
  bottom: .625em;
}
#news {
  left: 45%;
}
#events {
  left: 70%;
}
.newsticker ul {
  list-style: circle;
}
.newsticker li {
  margin-bottom: .625em;
  padding-bottom: .625em;
}



/* Footer
*/

#footer {
  margin-top: 2.5em;
  padding: .312em;
}

#login ul {
  list-style: none;
  margin: 0;
}
#login li {
  margin-right: .625em;
}
#login li h4 {
  padding: .325em .625em;
  cursor: pointer;
}
#copyright {
  display: none;
  padding: .625em;
  margin: 0;
}




