/* Typography
*/


h1 { font-size:2.11538em; padding:1.44305em 0; }
h2, #read-more { font-size:1.61538em; padding:1.30936em 0; }
h3 { font-size:1.30769em; padding:1.28686em 0; }




/* Header
*/


#header {
  width: 25%;
}
#header img {
  width: 80%;
}
#menu {
  width: 35%;
}


/* Startpage
*/

.startpage article {
  width: auto;
}
.startpage #excerpt {
  width: 48%;
  bottom: 3.75em;
}
.startpage #excerpt, .startpage #body {  
  bottom: 2.5em;
}
.startpage #secondary {
  bottom: .1em;
}
