---
---

{% include head.html %}  

<body class="{{ page.css_id | downcase }}">
  <div id="container">
      
    {% include header.html %}   
        
    <h3 id="title">{{ page.title }}</h3>
    
    <nav id="menu">      
      <h3 class="hidden">Top menu</h3>    
      <ul>
        <li><h4><a href="/">Admissions</a></h4></li>
        <li><h4><a href="/">Teaching</a></h4></li>   
        <li><h4><a href="/">Students</a></h4></li>
        <li><h4><a href="/">People</a></h4></li>
        <li><h4><a href="/">Contact Us</a></h4></li>
      </ul>     
    </nav>   
    
    <nav id="secondary">
      <h3 class="hidden">Secondary navigation</h3>    
      <ul class="inline-list">
        <li><h4 class="news">+ News</h4></li>
        <li><h4 class="events">+ Events</h4></li>   
        <li><h4 class="search">+ Search</h4></li>
      </ul>     
    </nav>
    
    <section id="content">
      {{ content }}
    </section>
    
    {% include footer.html %}  
  </div>
  
  {% include ga.html %}
</body>
</html>


